<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Atelier Bonome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/fontawesome-all.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />


</head>
<body>
       
   
<nav class="navbar2">
    <ul>
       <li><a href="../views/view-presentation.php">Atelier</a></li>

       <li><a href="../../eshop/eshop-index.php">Le Shop</a></li>
   </ul>
</nav>



<main>
<div class="container-projets">

  <div class="carousel">                

   
     <img src="../../img/bonome01.jpg">
 
 </div>

 <div class="desc">
        <h2> Bonome</h2>
   
   <p>Paris, 2015</p>
   
    <p>Réalisation de l'identité graphique de Bonome.</p>

         <div class="next">
  
   <a href="?id=8">  <p> Projet précédent</p> </a>

  

</div>

</div>
</div>


 </main>





<script src="../js/main.js"></script>
<script src="../js/main-projects.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="../js/jcarousel.basic.js"></script>
</body>
</html>



