@charset "UTF-8";
/*=== IMPORTS ===*/
/*
* === RESET === 
*/
/*@import "compass/reset";*/
/*
* === VARIABLES ===
*/
/*
* — colors —
#ec5946;
#fcccdc;
#7673d4;
#f5eeb8;
#181c52;
#ffffff;
#4cd137;
#44bd32;
#2ecc71;
#27ae60;
#FFC300;
#C70039;  


*/
/*
* === GLOBAL RULES ===
*/
/* line 44, ../sass/eshop-style.scss */
* {
  box-sizing: border-box; }

/* line 48, ../sass/eshop-style.scss */
body {
  margin: 0 auto;
  font-family: 'Open Sans', serif;
  font-weight: lighter;
  line-height: 1.5em;
  color: #181c52;
  background-color: #FFC300;
  overflow: scroll; }

/* line 60, ../sass/eshop-style.scss */
a {
  text-decoration: none;
  padding-right: 30px; }

/* unvisited link */
/* line 66, ../sass/eshop-style.scss */
a:link {
  color: #181c52; }

/* visited link */
/* line 71, ../sass/eshop-style.scss */
a:visited {
  color: #44bd32; }

/* mouse over link */
/* line 76, ../sass/eshop-style.scss */
a:hover {
  color: #181c52; }

/* selected link */
/* line 81, ../sass/eshop-style.scss */
a:active {
  color: yellow; }

/*images*/
/* line 88, ../sass/eshop-style.scss */
.image {
  background-size: cover;
  width: 800px;
  height: 600px; }

/* titles */
/* line 99, ../sass/eshop-style.scss */
h2 {
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  padding: 10px;
  color: #44bd32; }

/*
* === HOME ===
*/
/* line 112, ../sass/eshop-style.scss */
.home {
  height: 100vh;
  width: 100vw; }
  /* line 118, ../sass/eshop-style.scss */
  .home__nav {
    display: flex;
    justify-content: space-between;
    background-color: #ec5946;
    padding: 40px; }
  /* line 128, ../sass/eshop-style.scss */
  .home__inner {
    display: flex;
    justify-content: space-between;
    background-color: #ec5946; }

/*
* === PRESENTATION ===
*/
/* line 144, ../sass/eshop-style.scss */
.presentation {
  height: 100vh;
  width: 100vw; }

/*
* === PRESENTATION BONOME ===
*/
/* line 155, ../sass/eshop-style.scss */
.presentation {
  height: 100vh;
  width: 100vw; }

/*
* === COMPETENCES ===
*/
/* line 166, ../sass/eshop-style.scss */
.skills {
  height: 100vh;
  width: 100vw; }

/*
* ===  FORMULAIRE ===
*/
/* line 177, ../sass/eshop-style.scss */
.contact {
  height: 100vh;
  width: 100vw; }
  /* line 182, ../sass/eshop-style.scss */
  .contact .signup__form {
    background-color: #7673d4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    width: 30%; }
    /* line 194, ../sass/eshop-style.scss */
    .contact .signup__form input {
      width: auto;
      padding: 12px 20px;
      margin: 8px 0; }

/*
* === Carrousel ===
*/
/* line 213, ../sass/eshop-style.scss */
.carousel-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

/* line 219, ../sass/eshop-style.scss */
.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%); }

@media (min-width: 30em) {
  /* line 230, ../sass/eshop-style.scss */
  .carousel {
    left: -50%;
    transform: translateX(50%); } }
@media (min-width: 40em) {
  /* line 237, ../sass/eshop-style.scss */
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%); } }
/* line 243, ../sass/eshop-style.scss */
.carousel.is-reversing {
  transform: translateX(-100%); }

@media (min-width: 30em) {
  /* line 248, ../sass/eshop-style.scss */
  .carousel.is-reversing {
    transform: translateX(-50%); } }
@media (min-width: 40em) {
  /* line 254, ../sass/eshop-style.scss */
  .carousel.is-reversing {
    transform: translateX(-33.33333%); } }
/* line 259, ../sass/eshop-style.scss */
.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out; }

/* line 264, ../sass/eshop-style.scss */
.carousel-seat {
  background: transparent;
  flex: 1 0 100%;
  order: 2; }

/* line 270, ../sass/eshop-style.scss */
.carousel-seat:nth-child(even) {
  background: transparent; }

@media (min-width: 30em) {
  /* line 275, ../sass/eshop-style.scss */
  .carousel-seat {
    flex-basis: 50%; } }
@media (min-width: 40em) {
  /* line 281, ../sass/eshop-style.scss */
  .carousel-seat {
    flex-basis: 33.33333%; } }
/* line 286, ../sass/eshop-style.scss */
.carousel-seat.is-ref {
  order: 1; }

/* line 290, ../sass/eshop-style.scss */
.container img {
  width: 800px;
  height: auto;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center; }

/* line 299, ../sass/eshop-style.scss */
.controls {
  padding: 1em;
  text-align: center; }

/* line 304, ../sass/eshop-style.scss */
.controls button {
  background: #aaa;
  border: 0;
  border-radius: 0.25em;
  color: #eee;
  padding: 0.5em 1em; }

/* line 312, ../sass/eshop-style.scss */
.controls button:hover,
.controls button:focus {
  background: orange; }

/*
* === FOOTER ===
*/
