@charset "UTF-8";
/*=== IMPORTS ===*/
/*
* === RESET === 
*/
/*@import "compass/reset";*/
/*
* === VARIABLES ===
*/
/*
* — colors —
#ec5946;
#fcccdc;
#7673d4;
#f5eeb8;
#181c52;
#ffffff;
#4cd137;
#44bd32;
#2ecc71;
#27ae60;


*/
/*
* === GLOBAL RULES ===
*/
/* line 42, ../sass/style.scss */
* {
  box-sizing: border-box; }

/* line 46, ../sass/style.scss */
body {
  margin: 0 auto;
  font-family: 'Open Sans', serif;
  font-weight: lighter;
  line-height: 1.5em;
  color: #181c52;
  background-color: #f5eeb8;
  overflow: scroll; }

/* line 58, ../sass/style.scss */
a {
  text-decoration: none;
  padding-right: 30px; }

/* unvisited link */
/* line 64, ../sass/style.scss */
a:link {
  color: #fff; }

/* visited link */
/* line 69, ../sass/style.scss */
a:visited {
  color: #44bd32; }

/* mouse over link */
/* line 74, ../sass/style.scss */
a:hover {
  color: #fff; }

/* selected link */
/* line 79, ../sass/style.scss */
a:active {
  color: yellow; }

/*images*/
/* line 86, ../sass/style.scss */
.image {
  background-size: cover;
  width: 800px;
  height: 600px; }

/* titles */
/* line 97, ../sass/style.scss */
h2 {
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  padding: 10px;
  color: #44bd32; }

/*
* === NAVBAR ===
*/
/* line 112, ../sass/style.scss */
.navbar {
  position: fixed;
  top: 0p;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100vw;
  height: 100px;
  padding-top: 20px;
  transition: all 0.2s ease; }
  /* line 127, ../sass/style.scss */
  .navbar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
  /* line 135, ../sass/style.scss */
  .navbar li {
    float: left; }
  /* line 139, ../sass/style.scss */
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: hotpink; }
  /* line 148, ../sass/style.scss */
  .navbar li a:hover {
    background-color: yellow; }

/*
* === slideshow ===
*/
/* line 158, ../sass/style.scss */
img {
  width: 100vw;
  height: auto;
  transition: .3s ease-in-out; }

/* line 165, ../sass/style.scss */
#box1, #box2, #box3, #box4, #box5 {
  width: 100vw;
  height: 50vh;
  float: left; }

/* line 172, ../sass/style.scss */
#slideshow-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: all 1s ease; }

/* line 181, ../sass/style.scss */
#slideshow {
  width: 1000%;
  -webkit-animation: slideshow 20s infinite;
  -moz-animation: slideshow 20s infinite;
  -o-animation: slideshow 20s infinite;
  -ms-animation: slideshow 20s infinite; }

/*
* === slideshow Animation===
*/
@-webkit-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
@-moz-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
@-o-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
@-ms-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
/*
* === MASONRY ===
*/
/* line 231, ../sass/style.scss */
.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.5); }

/* line 239, ../sass/style.scss */
.grid-item--width2 {
  width: 400px; }

/*
* === MASONRY TEST===
*/
/*
* === HOME ===
*/
/* line 251, ../sass/style.scss */
.home {
  height: 100vh;
  width: 100vw; }

/*
* === PRESENTATION ===
*/
/* line 262, ../sass/style.scss */
.presentation {
  height: 100vh;
  width: 100vw; }

/*
* === PRESENTATION BONOME ===
*/
/* line 273, ../sass/style.scss */
.presentation {
  height: 100vh;
  width: 100vw; }

/*
* === COMPETENCES ===
*/
/* line 284, ../sass/style.scss */
.skills {
  height: 100vh;
  width: 100vw; }

/*
* ===  FORMULAIRE ===
*/
/* line 295, ../sass/style.scss */
.contact {
  height: 100vh;
  width: 100vw; }
  /* line 300, ../sass/style.scss */
  .contact .signup__form {
    background-color: #7673d4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    width: 30%; }
    /* line 312, ../sass/style.scss */
    .contact .signup__form input {
      width: auto;
      padding: 12px 20px;
      margin: 8px 0; }

/*
* === MAIN ===
*/
/* line 329, ../sass/style.scss */
main {
  height: 100 vh; }

/*
* === FOOTER ===
*/
