@charset "UTF-8";
/*=== IMPORTS ===*/
/*
* === RESET === 
*/
/*@import "compass/reset";*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 38, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

/* line 42, ../sass/style.scss */
body {
  line-height: 1; }

/* line 45, ../sass/style.scss */
ol, ul {
  list-style: none; }

/* line 48, ../sass/style.scss */
blockquote, q {
  quotes: none; }

/* line 51, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 56, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* === VARIABLES ===
*/
/*
* — colors —


*/
/*
* === GLOBAL RULES ===
*/
/* line 81, ../sass/style.scss */
* {
  box-sizing: border-box; }

/* line 85, ../sass/style.scss */
body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: black;
  overflow: scroll; }

/* line 95, ../sass/style.scss */
a {
  text-decoration: none;
  padding-right: 30px; }

/* unvisited link */
/* line 101, ../sass/style.scss */
a:link {
  color: blue; }

/* visited link */
/* line 106, ../sass/style.scss */
a:visited {
  color: #44bd32; }

/* mouse over link */
/* line 111, ../sass/style.scss */
a:hover {
  color: red; }

/* selected link */
/* line 116, ../sass/style.scss */
a:active {
  color: yellow; }

/*images*/
/* line 123, ../sass/style.scss */
.image {
  background-size: cover;
  width: 800px;
  height: 600px; }

/* titles */
/* line 133, ../sass/style.scss */
h1 {
  text-align: center;
  color: black;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold; }

/*
* === NAVBAR ===
*/
/* line 147, ../sass/style.scss */
.navbar {
  position: fixed;
  top: 0p;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100vw;
  height: 100px;
  padding-top: 20px;
  transition: all 0.2s ease; }
  /* line 162, ../sass/style.scss */
  .navbar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
  /* line 170, ../sass/style.scss */
  .navbar li {
    float: left; }
  /* line 174, ../sass/style.scss */
  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black; }
  /* line 183, ../sass/style.scss */
  .navbar li a:hover {
    background-color: yellow; }

/* line 188, ../sass/style.scss */
.navbar2 {
  display: flex;
  justify-content: center;
  background-color: #808080;
  width: 100vw;
  height: 50px; }
  /* line 200, ../sass/style.scss */
  .navbar2 ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
  /* line 208, ../sass/style.scss */
  .navbar2 li {
    float: left; }
  /* line 212, ../sass/style.scss */
  .navbar2 li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black; }
  /* line 221, ../sass/style.scss */
  .navbar2 li a:hover {
    background-color: yellow; }

/*
* === slideshow ===
*/
/* line 232, ../sass/style.scss */
#slideshow img {
  width: 100vw;
  height: auto;
  transition: .3s ease-in-out; }

/* line 239, ../sass/style.scss */
#box1, #box2, #box3, #box4, #box5 {
  width: 100vw;
  height: 75vh;
  float: left; }

/* line 246, ../sass/style.scss */
#slideshow-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: all 1s ease; }

/* line 255, ../sass/style.scss */
#slideshow {
  width: 1000%;
  -webkit-animation: slideshow 20s infinite;
  -moz-animation: slideshow 20s infinite;
  -o-animation: slideshow 20s infinite;
  -ms-animation: slideshow 20s infinite; }

/*
* === slideshow Animation===
*/
@-webkit-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
@-moz-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
@-o-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
@-ms-keyframes slideshow {
  0%, 10%, 100% {
    margin-left: 0; }
  20%, 30% {
    margin-left: -100vw; }
  40%, 50% {
    margin-left: -200vw; }
  60%, 70% {
    margin-left: -300vw; }
  80% {
    margin-left: 0; } }
/*
* === MASONRY TEST===
*/
/* line 307, ../sass/style.scss */
.masonry {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }

/* line 322, ../sass/style.scss */
.masonry-item {
  opacity: 1;
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
  display: inline-block;
  position: relative; }

/* line 343, ../sass/style.scss */
.masonry-item img {
  max-width: 100%; }

@media only screen and (min-width: 321px) and (max-width: 768px) {
  /* line 349, ../sass/style.scss */
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; } }
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /* line 356, ../sass/style.scss */
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
@media only screen and (min-width: 1201px) {
  /* line 363, ../sass/style.scss */
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }
/*
* === OVERLAY===
*/
/* Conteneur principal */
/* line 378, ../sass/style.scss */
.overlay-image {
  position: relative;
  width: 100%; }

/* Image originale */
/* line 384, ../sass/style.scss */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto; }

/* Texte original */
/* line 391, ../sass/style.scss */
.overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

/* Overlay */
/* line 405, ../sass/style.scss */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease; }

/* Apparition overlay sur passage souris */
/* line 415, ../sass/style.scss */
.overlay-image:hover .hover {
  opacity: 1; }

/***Hover background ***/
/* line 421, ../sass/style.scss */
.overlay-image .normal {
  transition: .5s ease; }

/* line 424, ../sass/style.scss */
.overlay-image:hover .normal {
  opacity: 1; }

/* line 427, ../sass/style.scss */
.overlay-image .hover {
  background-color: rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 320px) {
  /* line 432, ../sass/style.scss */
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; } }
/*
* === ATELIER PRESENTATION ===
*/
/* line 445, ../sass/style.scss */
html, body, #page-one, #page-two, #page-three, #page-four {
  height: 100vh; }

/* line 449, ../sass/style.scss */
#page-one, #page-two, #page-three, #page-four {
  padding-top: 0.5em; }

/* line 453, ../sass/style.scss */
#mainNav {
  background-color: #668AE4;
  color: orange;
  line-height: 4em;
  padding: 0;
  position: fixed;
  top: 0em;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: flex; }

/* line 470, ../sass/style.scss */
#mainNav a, #mainNav a:link, #mainNav a:visited, #mainNav a:hover, #mainNav a:active {
  color: lightgreen;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em; }
/* line 476, ../sass/style.scss */
#mainNav a:hover {
  color: #4861A2; }

/* line 479, ../sass/style.scss */
#mainNav h2 {
  font-size: 2em;
  padding-top: 1.5em;
  text-align: center;
  font-family: 'Press Start 2P', cursive; }

/* line 487, ../sass/style.scss */
#page-one {
  background-color: #fff; }

/* line 488, ../sass/style.scss */
#page-two {
  background-color: #ccc; }

/* line 489, ../sass/style.scss */
#page-three {
  background-color: #aaa; }

/* line 490, ../sass/style.scss */
#page-four {
  background-color: #888; }

/*
* === SCROLL BUTTON ===
*/
/* line 496, ../sass/style.scss */
.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center; }

/* line 513, ../sass/style.scss */
.arrow {
  text-align: center;
  margin: 8% 0;
  color: pink; }

/* line 519, ../sass/style.scss */
.fas {
  color: yellow; }

/*
* === PRESENTATION ===
*/
/*
* === COMPETENCES ===
*/
/* line 547, ../sass/style.scss */
.flexContainer {
  display: flex; }

/* line 550, ../sass/style.scss */
.flexSpaceAround {
  justify-content: space-around; }

/* line 553, ../sass/style.scss */
.subContainer {
  width: 80%;
  margin: 0 auto; }

/* line 557, ../sass/style.scss */
.col {
  width: 32%;
  border: 1px solid #777777;
  border-radius: 8px;
  background: white;
  padding: 20px; }

/*
* ===  FORMULAIRE ===
*/
/* line 571, ../sass/style.scss */
.wrapper {
  height: 70 vw;
  width: 70 vh; }

/* line 576, ../sass/style.scss */
.contactform {
  display: block;
  position: relative;
  margin: 10% 5% 2% 5%;
  padding: 0 !important;
  height: 600px;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  opacity: 1; }

/* line 588, ../sass/style.scss */
.formulaire {
  display: block;
  position: relative;
  width: 40%;
  margin: auto;
  padding: 3em 0; }

/* line 596, ../sass/style.scss */
.contactform .formulaire p {
  padding: 0.5em;
  color: #313C40;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  font-size: 1em; }

/* line 605, ../sass/style.scss */
.contactform h2 {
  padding: 1em 0.5em 1.5em 0.5em;
  position: relative;
  margin: 0 auto;
  color: #313C40;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  font-size: 1.1em; }

/* line 616, ../sass/style.scss */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(49, 61, 64, 0.2);
  border: 1px solid #fff;
  color: #313C40; }

/* line 626, ../sass/style.scss */
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-radius: 4px;
  background-color: rgba(49, 61, 64, 0.3);
  color: #313C40; }

/* line 634, ../sass/style.scss */
input[type="submit"] {
  width: 100px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #313C40;
  color: #313C40; }

/* line 643, ../sass/style.scss */
input[type="submit"]:hover {
  background-color: #313C40;
  color: #fff; }

/*
* === PROJETS ===
*/
/* line 655, ../sass/style.scss */
.container-projets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellow;
  height: 100vh;
  justify-content: space-around; }

/* line 666, ../sass/style.scss */
.container-projets h2 {
  margin: 0 auto; }

/* line 672, ../sass/style.scss */
.carousel {
  background-color: blue;
  border-color: black;
  width: 50vw;
  height: 50vw;
  margin: 10px;
  text-align: center; }

/* line 682, ../sass/style.scss */
.carousel img {
  width: 500px;
  height: auto; }

/* line 688, ../sass/style.scss */
.desc {
  display: flex;
  flex-direction: column;
  background-color: red;
  display: flex;
  justify-content: space-around;
  width: 50vw;
  height: 50vw;
  margin: 10px;
  padding: 20px; }

/* line 700, ../sass/style.scss */
.desc p {
  background-color: white;
  height: 50 px;
  width: auto; }

/*
* === CAROUSEL TEST ===
*/
