
/*=== IMPORTS ===*/

@import "compass";


/*
* === RESET === 
*/
/*@import "compass/reset";*/




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
    width: 100%;
}



th {
    height: 50px;
}

/*
* === VARIABLES ===
*/

/*
* — colors —



*/

/*
* === GLOBAL RULES ===
*/




// global container class


*{
	box-sizing:border-box;
}

body{
	margin:0 auto;
font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	line-height: 1.5em;
	color: black;
	overflow: scroll;

}

// links
a{
  text-decoration: none;
  padding-right: 30px;
  color:#000;
      font-weight: bold;
    font-size: 1.2em;
}
 
a:hover { 
  text-shadow: 0px 0px 9px #777;
  font-weight: bold;
  color:white;
   }


/* unvisited link */
// a:link {
//  color: white;
// }

/* visited link */
// a:visited {
//  color: f3c741;
// }

/* mouse over link */



h1{
  text-align: center;
  color: black;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

/*images*/
.image {
	background-size: cover;
	width: 800px;
	height: 600px;
}



/* titles */


h2{

	font-size: 2em;
	font-family: 'Montserrat', cursive;
	font-weight:  lighter;
	padding: 10px;
	
	

}

/*
* === NAVBAR ===
*/


.navbar{

	position: fixed;
	top : 0p;
	z-index: 1000;
	display:flex;
	justify-content: center;
	background-color: transparent;
	width: 100vw;
	height:50px;

	transition: all 0.2s ease;

	

	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		
	}

	li {
		float: left;
	}

	li a {
		display: block;
		
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		
	}



 ul li:last-child{
 
  color:pink;
}
 
}




/*
* === slideshow ===
*/

img {
  width: 100vw;
  height: auto;
  transition: .3s ease-in-out;
  }


#box1, #box2, #box3, #box4, #box5 {
  width: 100vw;
  height: 75vh;
  float: left;
 }


#slideshow-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: all 1s ease;

}

#slideshow {

  width: 1000%;
  -webkit-animation: slideshow 20s infinite;
  -moz-animation: slideshow 20s infinite;
  -o-animation: slideshow 20s infinite;
  -ms-animation: slideshow 20s infinite;

}

/*
* === slideshow Animation===
*/

@-webkit-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-moz-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-o-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-ms-keyframes slideshow {
 0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}


/*
* === MASONRY===
*/


.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img{max-width:100%;}



@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }


    
}







/*
* ===  FORMULAIRE ===
*/




	.signup__form{


		
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px auto;
		justify-content: center;
		width: 30%;

		input{

			width: auto;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;

		}

	}



/*
* === MAIN ===
*/ 

/*
* === PANIER ===
*/ 

.navbar3{

 
  top : 0p;
  z-index: 1000;
  display:flex;
  justify-content: center;
  background-color: #f3c741;
  width: 100vw;
  height:50px;


  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
  }

  li {
    float: left;
  }

  li a {
    display: block;
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  
}

.navbar4{

  
  display:flex;
  justify-content: center;
  background-color: #f3c741;
  width: 100vw;
  height:50px;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }

 
}


h2, p{
  text-align: center;
}

.total{
  color: blue;
}

/*
* === FORM ===
*/

form{
    margin: 20px;
}

.imgproduct	{
	height: 50px;
	width: auto;
}

.icon{
  height: 20px;
  width: auto;
}

table, th, td {
   border: 1px solid black;
}

th {
    text-align: center;
        vertical-align: middle;
}

td {
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.rowtotal p{

  font-weight: bold;
  margin-top:40px;
}

  

/*
* === INSCRIPTION ===
*/


.tabconnexion{
table, th, td {
   border: 1px solid orange;
}

th {
    text-align: center;
    vertical-align: middle;
}

td {
    height: 5vh;
    width: 20vw;
    vertical-align: middle;
    text-align: center;
}

input{

     width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
 .tabconnexion{ 
  table, thead, tbody, th, td, tr { 
    
  }

  
  /* Hide table headers (but not display: none;, for accessibility) */
  // thead tr { 
  //   position: absolute;
   
  // }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
  height: 5vh;
    width: 20vw;
    vertical-align: middle;
    text-align: center;
  }
  
  
}}

/*
* === TEST FORMULAIRE ===
*/

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: lightgrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #f3c741;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/*
* === FOCUS PRODUITS ===
*/
 

.container-projets{
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: white; 
 height: 100vh;

 justify-content: space-around;

}

.container-projets h2{

  margin: 0 auto;
  font-weight: bold;
}


.carousel{
  background-color: white; 
  border-color: black;
  width: 60vw;
  height: 50vw;
  margin: 10px;
  text-align: center;

}

.carousel img{

  width: 50vw;
  height: auto;
}

.desc{
  display: flex;
  flex-direction: column;
  background-color: white; 
  display: flex;
  justify-content: flex-start;
  width: 40vw;
  height: 50vw;
  margin: 10px;
  padding: 20px;
}

.desc p {

  background-color: white;
  height: 50 px;
  width: auto;
  margin-top: 30px;
}

.next{
  display: flex;
  text-align: center;
  padding-top: 80px;
  flex-direction: row;
  justify-content: space-between;

}
