
/*=== IMPORTS ===*/

@import "compass";


/*
* === RESET === 
*/
/*@import "compass/reset";*/

/*
* === VARIABLES ===
*/

/*
* — colors —
#ec5946;
#fcccdc;
#7673d4;
#f5eeb8;
#181c52;
#ffffff;
#4cd137;
#44bd32;
#2ecc71;
#27ae60;


*/

/*
* === GLOBAL RULES ===
*/




// global container class


*{
	box-sizing:border-box;
}

body{
	margin:0 auto;
	font-family: 'Open Sans', serif;
	font-weight: lighter;
	line-height: 1.5em;
	color: #181c52;
	background-color: #f5eeb8;
	overflow: scroll;

}

// links
a{
	text-decoration: none;
	padding-right: 30px;
}

/* unvisited link */
a:link {
	color: #fff;
}

/* visited link */
a:visited {
	color: #44bd32;
}

/* mouse over link */
a:hover {
	color: #fff;
}

/* selected link */
a:active {
	color: yellow;
}



/*images*/
.image {
	background-size: cover;
	width: 800px;
	height: 600px;
}



/* titles */


h2{

	font-size: 2em;
	font-family: 'Press Start 2P', cursive;
	font-weight:  lighter;
	padding: 10px;
	color:#44bd32;

}

/*
* === NAVBAR ===
*/


.navbar{

	position: fixed;
	top : 0p;
	z-index: 1000;
	display:flex;
	justify-content: center;
	background-color: transparent;
	width: 100vw;
	padding:20px;

	

	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		color: hotpink;
	}

	li a:hover {
		background-color: yellow;
	}
}


/*
* === slideshow ===
*/

img {
  width: 100vw;
  height: auto;
  transition: .3s ease-in-out;
  }


#box1, #box2, #box3, #box4, #box5 {
  width: 100vw;
  height: 50vh;
  float: left;
 }


#slideshow-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#slideshow {

  width: 1000%;
  -webkit-animation: slideshow 20s infinite;
  -moz-animation: slideshow 20s infinite;
  -o-animation: slideshow 20s infinite;
  -ms-animation: slideshow 20s infinite;
}

/* Animation
=============================*/

@-webkit-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-moz-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-o-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-ms-keyframes slideshow {
 0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

/*
* === MASONRY ===
*/

.grid-item { 
	width: 200px;
	border-style: solid;
    border-color: red;
}
.grid-item--width2 { width: 400px; }

/*
* === HOME ===
*/
.home{
	
	height: 100vh;
	width: 100vw;

}

/*
* === PRESENTATION ===
*/

.presentation{

	height: 100vh;
	width: 100vw;
}


/*
* === PRESENTATION BONOME ===
*/

.presentation{
	
	height: 100vh;
	width: 100vw;

}

/*
* === COMPETENCES ===
*/

.skills{
	
	height: 100vh;
	width: 100vw;
}


/*
* ===  FORMULAIRE ===
*/

.contact{
	height: 100vh;
	width: 100vw;


	.signup__form{


		background-color: #7673d4;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px auto;
		justify-content: center;
		width: 30%;

		input{

			width: auto;
			padding: 12px 20px;
			margin: 8px 0;
			//box-sizing: border-box;

		}

	}
}


/*
* === MAIN ===
*/ 

main{
	height: 100 vh;
}



/*
* === FOOTER ===
*/ 

