
/*=== IMPORTS ===*/

@import "compass";


/*
* === RESET === 
*/
/*@import "compass/reset";*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */



   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

 
  line-height: 1; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/*
* === VARIABLES ===
*/

/*
* — colors —


*/

/*
* === GLOBAL RULES ===
*/




// global container class



body{
	margin:0 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	color: black;
	overflow: scroll;

}

// links
a{
	text-decoration: none;
	padding-right: 30px;
  color:#000;
  font-weight: bold;
  font-size: 1.2em;
}

 
a:hover { 
  text-shadow: 0px 0px 4px darkgrey; 
  font-weight: bold;
  color:white;
   
}


/*images*/
.image {
	background-size: cover;
	width: 800px;
	height: 600px;
}



/* titles */

h1{
  text-align: center;
  color: black;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
}


/*
* === NAVBAR ===
*/


.navbar{

	position: fixed;
	top : 0p;
	z-index: 1000;
	display:flex;
	justify-content: center;
  align-items:center;
	background-color: transparent;
	width: 100vw;
	height:50px;
	transition: all 0.2s ease;

	

	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		
	}

	li {
		float: left;
	}

	li a {
		display: block;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	
	}

	
}

.navbar2{

  // position: fixed;
  display:flex;
  justify-content: center;
  background-color: #808080;
  width: 100vw;
  height:50px;


  

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }


}



/*
* === slideshow ===
*/

#slideshow img {
  width: 100vw;
  height: auto;
  transition: .3s ease-in-out;
}


#box1, #box2, #box3, #box4, #box5 {
  width: 100vw;
  height: 75vh;
  float: left;
}


#slideshow-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: all 1s ease;

}

#slideshow {

  width: 1000%;
  -webkit-animation: slideshow 20s infinite;
  -moz-animation: slideshow 20s infinite;
  -o-animation: slideshow 20s infinite;
  -ms-animation: slideshow 20s infinite;

}

/*
* === slideshow Animation===
*/

@-webkit-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-moz-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-o-keyframes slideshow {
  0%, 10%, 100% {margin-left: 0; }
  20%, 30% {margin-left: -100vw; }
  40%, 50% {margin-left: -200vw;}
  60%, 70% {margin-left: -300vw;}
  80% {margin-left: 0;}
}

@-ms-keyframes slideshow {
 0%, 10%, 100% {margin-left: 0; }
 20%, 30% {margin-left: -100vw; }
 40%, 50% {margin-left: -200vw;}
 60%, 70% {margin-left: -300vw;}
 80% {margin-left: 0;}
}


/*
* === MASONRY TEST===
*/


.masonry { 
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.masonry-item {
  opacity: 1;
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition:1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
  display: inline-block;
  position: relative;
}


.masonry-item img{
  max-width:100%;
}


@media only screen and (min-width: 321px) and (max-width: 768px){
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}


/*
* === OVERLAY===
*/



/* Conteneur principal */
.overlay-image {
 position: relative;
 width: 100%;
}

/* Image originale */
.overlay-image .image {
 display: block;
 width: 100%;
 height: auto;
}

/* Texte original */
.overlay-image .text {
 color: #fff;
 font-size: 30px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}

/* Overlay */
.overlay-image .hover {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .3s ease;
}

/* Apparition overlay sur passage souris */
.overlay-image:hover .hover {
 opacity: 1;
}

/***Hover background ***/

.overlay-image .normal {
 transition: .5s ease;
}
.overlay-image:hover .normal {
 opacity: 1;
}
.overlay-image .hover {
 background-color: rgba(0,0,0,0.5);
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}



/*
* === ATELIER PRESENTATION ===
*/

html, body, #page-one, #page-two, #page-three {
  height:100vh;
}

#page-one, #page-two, #page-three{
	padding-top:0.5em;
}

#mainNav {
display: flex;
    justify-content: center;
    align-items:center;
    background-color: #808080;
    width: 100vw;
    height: 50px;

}

#mainNav {
  a, a:link, a:visited, a:hover, a:active {

    text-decoration:none;
    display:inline-block;
    padding:0 1em;
  }
  
}

#mainNav h2 {
  font-size:2em; 
  padding-top:2em; 
  text-align:center;
  font-family: 'Montserrat', cursive;

}

#page-one {background-color:#fff;
padding-top: 20px;}
#page-two {background-color:#ccc;}
#page-three {background-color:#aaa;}


/*
* === SCROLL BUTTON ===
*/

// .button {
//   background-color: black; /* Green */
//   border: none;
//   color: white;
//   padding: 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
//   border-radius: 50%;
//   display:flex;
//   justify-content: center;
// }


.arrow {
  text-align: center;
  color: blue;
}

.fas {
  color: yellow;
}



/*
* === PRESENTATION ===
*/

.main{
  display:flex;
  flex-direction:column;
}

.flexContainer {
  display: flex;
  justify-content: space-around;

 
}

.flexContainer h2{

  padding: 10px;
}


.col {
  width: auto;
  border: 1px solid #777777;
  border-radius: 8px;
  background: white;
  padding-top: 10px;
  text-align: center;
}

.main h2{
   text-align: center;
   font-weight: bold;
}

.boys {
  width: 20vw;
  border: 1px solid #777777;
  border-radius: 8px;
  background: white;
  padding: 10px;
  text-align: center;
  margin:20px;
}


.presentation {
  width: 60vw;
  border: 1px solid #777777;
  border-radius: 8px;
  background: white;
  padding: 40px;
  text-align: center;
  margin:20px;
}


.adjectif{
  width: 30%;
  height: 35vh;
   border: 1px solid #777777;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 20px;
  overflow: hidden;
  // font-size: smaller;
}



.adjectif:nth-child(-n+3){
 
  margin-right:10px;
}

.competence{
   width: 30%;
  height: 75vh;
   border: 1px solid #777777;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  overflow: hidden;
  // font-size: smaller;
}

.competence img {

  height: 200px;
}

.competence p{
  text-align: justify;
}

h3{
  font-weight: bold;
  text-align: center;
  font-style: 2em;
}

.arrow a{
  padding-right: 0;
} 

.flexformulaire{
  display:flex;
  flex-direction:column;
    justify-content: between;


}
.question p{
  text-align: center;
  padding-top: 40px;
}


/*
* === COMPETENCES ===
*/


@media screen and (max-width: 780px) {


.main{

flex-direction: column;
 justify-content: center;
   float: none;
   align-items:center;
      
 }

html, body, #page-one, #page-two, #page-three {
  height:100%;
  background-color: white;
}

.boys{
  display:none;
}

.arrow{
  display:none;
}

.adjectif, .competence{
   width: 60vw;
    border: 1px solid #777777;
    border-radius: 8px;
    background: white;
    padding: 40px;
    text-align: center;
    margin: 20px;
}

#mainNav{
  display: none;
}

.col img{

  width: 10vw;
}

.flexContainer{
 display:flex;
flex-direction:column;
align-items:center;
  
  }

.contactform{

  border: 1px solid #777777;
    border-radius: 8px;
    background: white;
}



#wrapper{
  width: 60vw;
}
}

/*
* ===  FORMULAIRE ===
*/


// #wrapper {
//   height: 70 vw;
//   width: 70 vh;
// }

// .contactform {
//   display:block;
//   position:relative;
//   margin:10% 5% 2% 5%;
//   padding:0 !important;
//   height:50vh;
//   width:auto;
//   border-radius:4px;
//   overflow:hidden;
//   opacity:1;
// }



// .contactform .formulaire p{
//   padding:0.5em;
//   color:#313C40;
//   text-align:justify;
//   font-family:'Lato', sans-serif;
//   font-weight:300 !important;
//   font-size: 1em;
// }

// .contactform h2{
//   padding:1em;
//   position:relative;
//   margin:0 auto;
//   color:#313C40;
//   text-align:center;
//   font-family:'Lato', sans-serif;
//   font-weight:bold;
//   font-size: 1.1em;
// }

// input[type="text"],
// input[type="email"],
// textarea {
//   width:100%;
//   border-radius:4px;
//   background-color:rgba(49,61,64,0.2);
//   border: 1px solid #fff;
//   color:#313C40;
// }

// input[type="text"]:hover,
// input[type="email"]:hover,
// textarea:hover {
//   border-radius:4px;
//   background-color:rgba(49,61,64,0.3);
//   color:#313C40;
// }

// input[type="submit"] {
//   width:100px;
//   height:20px;
//   border-radius:4px;
//   background-color:#fff;
//   border: 1px solid #313C40;
//   color:#313C40;
// }

// input[type="submit"]:hover {
//   background-color:#313C40;
//   color:#fff;
// }


/*
* === PROJETS ===
*/ 

.container-projets{
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: white; 
 height: 100vh;

 justify-content: space-around;

}

.container-projets h2{

  margin: 0 auto;
  font-weight: bold;
}


.carousel{
  background-color: white; 
  border-color: black;
  width: 60vw;
  height: 50vw;
  margin: 10px;
  text-align: center;

}

.carousel img{

  width: 50vw;
  height: auto;
}

.desc{
  display: flex;
  flex-direction: column;
  background-color: white; 
  display: flex;
  justify-content: flex-start;
  width: 40vw;
  height: 50vw;
  margin: 10px;
  padding: 20px;
}

.desc p {

  background-color: white;
  height: 500 px;
  width: auto;
  margin-top: 30px;
}

.next{
  display: flex;
  text-align: center;
  padding-top: 80px;
  flex-direction: row;
  justify-content: space-between;

}


@media screen and (max-width: 780px) {


.container-projets, .desc, p{
display:flex;
flex-direction: column;
 // justify-content: center;
   float: none;
   align-items:center;
      
 }

 .carousel{

      background-color: white;
    border-color: black;
    width: 80%;
     height: 30vw; 
 
    text-align: center;
 }

.carousel img{

  width: 80%;
  height: auto;
}


}

/*
* === ICONES ===
*/ 

.far fa-trash-alt{

  color:blue;
}

/*
* === TEST FORMULAIRE ===
*/

.formulaire {
 
  position:relative;
  width:50%;
  margin:auto;
  align-items:center;
 padding:3em 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=subject], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: lightgrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #f3c741;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}